# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:

df = pd.read_csv('weather.csv')
df.head()

,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City,City datetime
0,55.873600,85.426500,285.82,71,83,2.17,RU,yashkino,1651334376
1,-23.483333,-46.350000,294.20,88,100,2.06,BR,itaquaquecetuba,1651334377
2,45.324722,-118.086667,280.96,85,100,5.08,US,la grande,1651334377
3,39.956111,-75.058333,290.88,22,0,1.79,US,pennsauken,1651334378
4,44.850000,23.083333,288.14,68,74,1.35,RO,matasari,1651334379

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

map = gmaps.Map()
heat_amp = gmaps.heatmap_layer(df[['City latitude', 'City longitude']], weights=df['Humidity'])

map.add_layer(heat_amp)
map

Map(configuration={'api_key': 'AIzaSyBJi5A4jgkEFuIn193S3wFayi9AqZ7WcDY'}, data_bounds=[(-17.883117470851072, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
df['fahrenheit'] = (df['Max temperature'] - 273.15) * 9 /5  + 32
df['mph'] = df['Wind speed'] * 25 / 11
df = df[ (df['fahrenheit'] > 70) & (df['fahrenheit'] < 80) 
         & (df['mph'] < 10) & (df['Cloud coverage'] == 0)] 
# TODO
# # load  larger number of cities or a random set of cities
# # so that we can mee the cloudines criteria         
df

,City latitude,City longitude,Max temperature,Humidity,Cloud coverage,Wind speed,City country,City,City datetime,fahrenheit,mph
40,45.547500,12.150000,296.02,28,0,2.06,IT,martellago,1651334421,73.166,4.681818
143,34.085278,-117.960000,295.90,63,0,0.00,US,baldwin park,1651334508,72.950,0.000000
268,-19.316667,-46.050000,298.24,42,0,3.00,BR,sao gotardo,1651334614,77.162,6.818182
314,34.020278,-117.864444,296.97,64,0,1.54,US,walnut,1651334650,74.876,3.500000
389,19.166667,-98.333333,294.43,49,0,2.06,MX,tlaltenango,1651334713,70.304,4.681818
446,33.889444,-118.330000,296.53,75,0,1.79,US,alondra park,1651334759,74.084,4.068182
450,21.866667,-101.583333,295.24,11,0,2.71,MX,ojuelos de jalisco,1651334762,71.762,6.159091
514,45.680556,12.288333,295.31,32,0,1.79,IT,carbonera,1651334814,71.888,4.068182
561,-20.333333,30.033333,294.50,42,0,1.29,ZW,zvishavane,1651334855,70.430,2.931818
581,35.846227,71.785801,294.98,37,0,1.67,PK,chitral,1651334871,71.294,3.795455

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
import requests
hotel_df = pd.DataFrame(
        df[['City','City country','City latitude', 'City longitude']])

In [8]:
hotel_df['Hotel Name'] = ''
# the rubric says the columns should be latitude and longitude
# but the cell further down, which students are not supposed to edit looks for
# to columns named Lat and lng
# so to comply with the rubric we need the following.

#hotel_df.rename(columns={'City country': 'Country', 'City latitude': 'Latitude',
#        'City longitude': 'Longitude'}, inplace=True)

# but to comply wih the cell below we need
hotel_df.rename(columns={'City country': 'Country', 'City latitude': 'Lat',
        'City longitude': 'Lng'}, inplace=True)


for i,row in hotel_df.iterrows():
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={0}%2C{1}&radius=50000&type=hotel&keyword=hotel&key={2}".format(
#        40.730610, -73.9352, g_key)
        row['Lat'], row['Lng'], g_key)

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)
    result = response.json()
    if result['results']:
        #print(result['results'][0])
        print(result['results'][0]['name'])
        hotel_df.at[i, 'Hotel Name'] = result['results'][0]['name']

Ca' Sagredo Hotel
Travelodge by Wyndham Commerce Los Angeles Area
Hotel San Diego Suites São Gotardo
Travelodge by Wyndham Commerce Los Angeles Area
Hotel San Pedro Puebla
Travelodge by Wyndham Commerce Los Angeles Area
TERRAZA HOTEL OJUELOS JALISCO
Hotel Ai Reali
Pote Hill Hotel
Legend Hotel Chitral

In [9]:
hotel_df

,City,Country,Lat,Lng,Hotel Name
40,martellago,IT,45.547500,12.150000,Ca' Sagredo Hotel
143,baldwin park,US,34.085278,-117.960000,Travelodge by Wyndham Commerce Los Angeles Area
268,sao gotardo,BR,-19.316667,-46.050000,Hotel San Diego Suites São Gotardo
314,walnut,US,34.020278,-117.864444,Travelodge by Wyndham Commerce Los Angeles Area
389,tlaltenango,MX,19.166667,-98.333333,Hotel San Pedro Puebla
446,alondra park,US,33.889444,-118.330000,Travelodge by Wyndham Commerce Los Angeles Area
450,ojuelos de jalisco,MX,21.866667,-101.583333,TERRAZA HOTEL OJUELOS JALISCO
514,carbonera,IT,45.680556,12.288333,Hotel Ai Reali
561,zvishavane,ZW,-20.333333,30.033333,Pote Hill Hotel
581,chitral,PK,35.846227,71.785801,Legend Hotel Chitral

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,  info_box_content=hotel_info)
map.add_layer(marker_layer)
# Display figure
map

Map(configuration={'api_key': 'AIzaSyBJi5A4jgkEFuIn193S3wFayi9AqZ7WcDY'}, data_bounds=[(-22.715723070958298, -…